<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="IbrowsEasySysLibraryBase">
            <directory>./Tests/Base</directory>
        </testsuite>

        <testsuite name="IbrowsEasySysLibraryFunctional">
            <directory>./Tests/Functional</directory>
        </testsuite>
    </testsuites>

</phpunit>
